## Pandas analysis

In the following a series of exercises is proposed on a dataset containg timing information from a series of Time-to-Digital-Converters (TDC) implemented in a couple of FPGA's. Each measurement (i.e. each raw) consists of the address of the TDC providing the signal, 'FPGA' and 'TDC_Channel, and the timing information itself, 'ORBIT_CNT', 'BX_COUNTER' and 'TDC_MEAS'. Each TDC count correspond 25/30 ns, whereas the BX_COUNTER feauters gets updated every 25 ns and the ORBIT_CNT every 'x' BX_COUNTER. You can see these way of storing the time as similar to hours, minutes and seconds.

1\. Create a Pandas DataFrame by read N raws of the 'data_000637.txt' dataset. Choose N to be smaller than or equal to the maximum number of raws and larger that 10k.

2\. Find out the value of 'x'

3\. Find out how much the data taking lasted. You can either make an estimate on the baseis of the fraction of the measurements (raws) you read, or perform this check precisely by reading out the whole dataset

4\. Create a new column with the actual time in ns (as a combination of the other three columns with timing information)

5\. Replace the values (all 1) of the HEAD column randomly with 0 or 1

6\. Create a new DataFrame with only the raws with HEAD=1

7\. Make two occupancy plots (one per FPGA), i.e. plot the number of counts per TDC channel

8\. Use the groupby method to find out the noisy channels, i.e. the TDC channels with most counts (say the top 3)

9\. Count the number of unique orbits. Count the number of unique orbits with at least one measurement from TDC_CHANNEL=139

In [58]:
#import the python libraries
import pandas as pd
import numpy as np

file_name="/home/kommurik/data/data_000637.txt"
d=pd.read_csv(file_name, nrows=30000,skiprows=range(1,1))
d

#Exercise 1: 
df = pd.DataFrame( data=d)
df

       HEAD  FPGA  TDC_CHANNEL   ORBIT_CNT  BX_COUNTER  TDC_MEAS
0         1     0          123  3869200167        2374        26
1         1     0          124  3869200167        2374        27
2         1     0           63  3869200167        2553        28
3         1     0           64  3869200167        2558        19
4         1     0           64  3869200167        2760        25
5         1     0           63  3869200167        2762         4
6         1     0           61  3869200167        2772        14
7         1     0          139  3869200167        2776         0
8         1     0           62  3869200167        2774        21
9         1     0           60  3869200167        2788         7
10        1     1            7  3869200167        2785         4
11        1     0           64  3869200167        2786        19
12        1     1            6  3869200167        2792        18
13        1     0           36  3869200167        2791        23
14        1     0           56  3869200167        2789         3
15        1     1          139  3869200167        2797         0
16        1     1            8  3869200167        2787        14
17        1     0           63  3869200167        2790        10
18        1     1            5  3869200167        2795         4
19        1     0           53  3869200167        2796        26
20        1     1           10  3869200167        2789        14
21        1     0           57  3869200167        2789        10
22        1     0           61  3869200167        2790        23
23        1     0           38  3869200167        2799        15
24        1     0           58  3869200167        2795        19
25        1     0           62  3869200167        2797        14
26        1     0           59  3869200167        2799        14
27        1     0           59  3869200167        3081        21
28        1     0           61  3869200167        3081         1
29        1     0           60  3869200167        3083        20
...     ...   ...          ...         ...         ...       ...
29970     1     0           49  3869200465        2942        16
29971     1     0           60  3869200465        2933        10
29972     1     0           61  3869200465        2935        16
29973     1     0           56  3869200465        2941        23
29974     1     0           62  3869200465        2941        24
29975     1     0           60  3869200465        2993        23
29976     1     1            7  3869200465        3022        23
29977     1     0           49  3869200465        3026        28
29978     1     1            6  3869200465        3032        26
29979     1     0           56  3869200465        3025        24
29980     1     1          139  3869200465        3036         0
29981     1     1            8  3869200465        3027        28
29982     1     0          123  3869200465        3035        16
29983     1     0           53  3869200465        3033        25
29984     1     1            2  3869200465        3033         5
29985     1     1            5  3869200465        3034         0
29986     1     0           28  3869200465        3100        21
29987     1     1          109  3869200465        3383        13
29988     1     1          107  3869200465        3388        14
29989     1     1          110  3869200465        3387        13
29990     1     1          139  3869200465        3398         0
29991     1     1          108  3869200465        3396        20
29992     1     1          109  3869200465        3394         7
29993     1     1            4  3869200466         348        24
29994     1     0           60  3869200466         352        11
29995     1     1           60  3869200466         356        11
29996     1     0           64  3869200466         347         4
29997     1     0          139  3869200466         357         0
29998     1     0           61  3869200466         353        10
29999     1     0          119  3869200466         357         5

[30000 rows x 6 columns]

In [ ]:
#Exercise 2: